<div>
  <h1>Real Time Products</h1>

  <h3>Lista de productos:</h3>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Código</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Estado</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody id="productos-body">

    </tbody>
  </table>

  <h2>Agregar producto</h2>

  <form id="producto-form">

    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required />

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" required />

    <label for="precio">Precio:</label>
    <input type="text" id="precio" name="precio" required />

    <label for="codigo">Código:</label>
    <input type="text" id="codigo" name="codigo" required />

    <label for="stock">Stock:</label>
    <input type="text" id="stock" name="stock" required />

    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" required />

    <button type="submit">Agregar producto</button>

  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>